section
	.container
		ul.list
			li.list__elem
				.list__image
					img(src="http://lorempixel.com/400/400")
				.list__text
					.list__text__close 
						i.mdi.mdi-close
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem harum accusamus placeat nam quisquam eaque quod, assumenda cupiditate praesentium voluptas culpa, corrupti voluptatum, fuga deserunt doloremque. Alias nulla possimus ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem harum accusamus placeat nam quisquam eaque quod, assumenda cupiditate praesentium voluptas culpa, corrupti voluptatum, fuga deserunt doloremque. Alias nulla possimus ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem harum accusamus placeat nam quisquam eaque quod, assumenda cupiditate praesentium voluptas culpa, corrupti voluptatum, fuga deserunt doloremque. Alias nulla possimus ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem harum accusamus placeat nam quisquam eaque quod, assumenda cupiditate praesentium voluptas culpa, corrupti voluptatum, fuga deserunt doloremque. Alias nulla possimus ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem harum accusamus placeat nam quisquam eaque quod, assumenda cupiditate praesentium voluptas culpa, corrupti voluptatum, fuga deserunt doloremque. Alias nulla possimus ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem harum accusamus placeat nam quisquam eaque quod, assumenda cupiditate praesentium voluptas culpa, corrupti voluptatum, fuga deserunt doloremque. Alias nulla possimus ipsa!
			li.list__elem
				.list__image
					img(src="http://lorempixel.com/400/400")
				.list__text
					.list__text__close 
						i.mdi.mdi-close
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem harum accusamus placeat nam quisquam eaque quod, assumenda cupiditate praesentium voluptas culpa, corrupti voluptatum, fuga deserunt doloremque. Alias nulla possimus ipsa!
			li.list__elem
				.list__image
					img(src="http://lorempixel.com/400/400")
				.list__text
					.list__text__close 
						i.mdi.mdi-close
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem harum accusamus placeat nam quisquam eaque quod, assumenda cupiditate praesentium voluptas culpa, corrupti voluptatum, fuga deserunt doloremque. Alias nulla possimus ipsa!
			li.list__elem
				.list__image
					img(src="http://lorempixel.com/400/400")
				.list__text
					.list__text__close 
						i.mdi.mdi-close
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem harum accusamus placeat nam quisquam eaque quod, assumenda cupiditate praesentium voluptas culpa, corrupti voluptatum, fuga deserunt doloremque. Alias nulla possimus ipsa!
			li.list__elem
				.list__image
					img(src="http://lorempixel.com/400/400")
				.list__text
					.list__text__close 
						i.mdi.mdi-close
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem harum accusamus placeat nam quisquam eaque quod, assumenda cupiditate praesentium voluptas culpa, corrupti voluptatum, fuga deserunt doloremque. Alias nulla possimus ipsa!
			li.list__elem
				.list__image
					img(src="http://lorempixel.com/400/400")
				.list__text
					.list__text__close 
						i.mdi.mdi-close
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem harum accusamus placeat nam quisquam eaque quod, assumenda cupiditate praesentium voluptas culpa, corrupti voluptatum, fuga deserunt doloremque. Alias nulla possimus ipsa!